openapi: 3.0.0
info:
  title: LiveTale API
  version: 1.0.0
  description: |
    LiveTale �꾨줈�앺듃�� API 紐낆꽭��
    �명꽣�숉떚釉� �ㅽ넗由ы뀛留곴낵 罹먮┃�� 梨꾪똿�� �꾪븳 醫낇빀 API
  contact:
    name: LiveTale Team
    email: support@livetale.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.livetale.com/v1
    description: Production server
  - url: https://staging-api.livetale.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

security:
  - BearerAuth: []
  - ApiKeyAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: �ъ슜�� 怨좎쑀 ID
        email:
          type: string
          format: email
          description: �대찓�� 二쇱냼
        username:
          type: string
          minLength: 3
          maxLength: 20
          description: �ъ슜�먮챸
        nickname:
          type: string
          maxLength: 30
          description: �됰꽕��
        avatar_url:
          type: string
          format: uri
          description: �꾨줈�� �대�吏� URL
        created_at:
          type: string
          format: date-time
          description: 怨꾩젙 �앹꽦��
        updated_at:
          type: string
          format: date-time
          description: 留덉�留� �섏젙��
        is_active:
          type: boolean
          description: 怨꾩젙 �쒖꽦�� �곹깭
        subscription_tier:
          type: string
          enum: [free, premium, pro]
          description: 援щ룆 �깃툒

    World:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: �멸퀎愿� 怨좎쑀 ID
        name:
          type: string
          description: �멸퀎愿� �대쫫
        description:
          type: string
          description: �멸퀎愿� �ㅻ챸
        theme:
          type: string
          enum: [fantasy, scifi, modern, historical, romance, horror]
          description: �멸퀎愿� �뚮쭏
        thumbnail_url:
          type: string
          format: uri
          description: �몃꽕�� �대�吏� URL
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Character:
      type: object
      properties:
        id:
          type: string
          format: uuid
        world_id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 50
        description:
          type: string
          maxLength: 500
        personality:
          type: string
          maxLength: 1000
        appearance:
          type: string
          maxLength: 1000
        avatar_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time

    Story:
      type: object
      properties:
        id:
          type: string
          format: uuid
        world_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        current_scene_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, paused, completed, abandoned]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Scene:
      type: object
      properties:
        id:
          type: string
          format: uuid
        story_id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        image_url:
          type: string
          format: uri
        choices:
          type: array
          items:
            $ref: '#/components/schemas/Choice'
        is_final:
          type: boolean
        created_at:
          type: string
          format: date-time

    Choice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        text:
          type: string
        next_scene_id:
          type: string
          format: uuid
        consequence:
          type: string

    Achievement:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
        progress:
          type: integer
          minimum: 0
          maximum: 100
        is_completed:
          type: boolean
        unlocked_at:
          type: string
          format: date-time

    ChatMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        character_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        content:
          type: string
        role:
          type: string
          enum: [user, assistant]
        timestamp:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        title:
          type: string
        message:
          type: string
        type:
          type: string
          enum: [info, warning, achievement, story_update]
        is_read:
          type: boolean
        created_at:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

paths:
  # 1) �뚯썝媛��� / 濡쒓렇��
  /auth/signup:
    post:
      tags:
        - Authentication
      summary: �뚯썝媛���
      description: �덈줈�� �ъ슜�� 怨꾩젙�� �앹꽦�⑸땲��
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - username
                - nickname
              properties:
                email:
                  type: string
                  format: email
                  description: �대찓�� 二쇱냼
                password:
                  type: string
                  minLength: 8
                  description: 鍮꾨�踰덊샇 (理쒖냼 8��)
                username:
                  type: string
                  minLength: 3
                  maxLength: 20
                  description: �ъ슜�먮챸
                nickname:
                  type: string
                  maxLength: 30
                  description: �됰꽕��
                avatar_url:
                  type: string
                  format: uri
                  description: �꾨줈�� �대�吏� URL (�좏깮�ы빆)
      responses:
        '201':
          description: �뚯썝媛��� �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
                    description: JWT �≪꽭�� �좏겙
                  refresh_token:
                    type: string
                    description: JWT 由ы봽�덉떆 �좏겙
        '400':
          description: �섎せ�� �붿껌 (�대찓�� 以묐났, �좏슚�� 寃��� �ㅽ뙣 ��)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: �대찓�� �먮뒗 �ъ슜�먮챸 以묐났
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: 濡쒓렇��
      description: �ъ슜�� �몄쬆�� �섑뻾�섍퀬 �≪꽭�� �좏겙�� 諛쒓툒�⑸땲��
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: �대찓�� 二쇱냼
                password:
                  type: string
                  description: 鍮꾨�踰덊샇
                remember_me:
                  type: boolean
                  description: 濡쒓렇�� �곹깭 �좎� �щ�
      responses:
        '200':
          description: 濡쒓렇�� �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
                    description: JWT �≪꽭�� �좏겙
                  refresh_token:
                    type: string
                    description: JWT 由ы봽�덉떆 �좏겙
                  expires_in:
                    type: integer
                    description: �좏겙 留뚮즺 �쒓컙 (珥�)
        '401':
          description: �몄쬆 �ㅽ뙣 (�섎せ�� �대찓�� �먮뒗 鍮꾨�踰덊샇)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: �덈Т 留롮� 濡쒓렇�� �쒕룄
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: 濡쒓렇�꾩썐
      description: �ъ슜�� 濡쒓렇�꾩썐�� �섑뻾�섍퀬 �좏겙�� 臾댄슚�뷀빀�덈떎
      responses:
        '200':
          description: 濡쒓렇�꾩썐 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "濡쒓렇�꾩썐�섏뿀�듬땲��"
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/me:
    get:
      tags:
        - User
      summary: �� �뺣낫 議고쉶
      description: �꾩옱 濡쒓렇�명븳 �ъ슜�먯쓽 �뺣낫瑜� 議고쉶�⑸땲��
      responses:
        '200':
          description: �ъ슜�� �뺣낫 議고쉶 �깃났
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 2) �멸퀎愿�(World)
  /worlds:
    get:
      tags:
        - World
      summary: �멸퀎愿� 由ъ뒪�� 蹂닿린
      description: �ъ슜 媛��ν븳 紐⑤뱺 �멸퀎愿� 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
        - name: page
          in: query
          description: �섏씠吏� 踰덊샇 (1遺��� �쒖옉)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: �섏씠吏��� ��ぉ ��
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: theme
          in: query
          description: �멸퀎愿� �뚮쭏 �꾪꽣
          required: false
          schema:
            type: string
            enum: [fantasy, scifi, modern, historical, romance, horror]
        - name: search
          in: query
          description: �멸퀎愿� �대쫫 寃���
          required: false
          schema:
            type: string
      responses:
        '200':
          description: �멸퀎愿� 紐⑸줉 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  worlds:
                    type: array
                    items:
                      $ref: '#/components/schemas/World'
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /worlds/{world_id}/characters:
    get:
      tags:
        - World
      summary: �대떦 �멸퀎愿� 二쇱씤怨� 由ъ뒪�� 蹂닿린
      description: �뱀젙 �멸퀎愿��� 罹먮┃�� 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
        - name: world_id
          in: path
          required: true
          description: �멸퀎愿� ID
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          description: �섏씠吏� 踰덊샇
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: �섏씠吏��� ��ぉ ��
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 罹먮┃�� 紐⑸줉 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  characters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Character'
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
        '404':
          description: �멸퀎愿��� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - World
      summary: �대떦 �멸퀎愿� �뚮쭏濡� 二쇱씤怨� 留뚮뱾湲�
      description: �뱀젙 �멸퀎愿��� �뚮쭏�� 留욌뒗 �덈줈�� 罹먮┃�곕� �앹꽦�⑸땲��
      parameters:
        - name: world_id
          in: path
          required: true
          description: �멸퀎愿� ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - personality
                - appearance
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: 罹먮┃�� �대쫫
                description:
                  type: string
                  maxLength: 500
                  description: 罹먮┃�� �ㅻ챸
                personality:
                  type: string
                  maxLength: 1000
                  description: 罹먮┃�� �깃꺽
                appearance:
                  type: string
                  maxLength: 1000
                  description: 罹먮┃�� �몃え
                avatar_url:
                  type: string
                  format: uri
                  description: 罹먮┃�� �꾨컮�� �대�吏� URL
      responses:
        '201':
          description: 罹먮┃�� �앹꽦 �깃났
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: �멸퀎愿��� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 罹먮┃�� �대쫫 以묐났
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 3) �ㅽ넗由�(Story)
  /worlds/{world_id}/start:
    post:
      tags:
        - Story
      summary: �멸퀎愿� �쒖옉 �ㅽ넗由� �쒓났
      description: �뱀젙 �멸퀎愿��먯꽌 �덈줈�� �ㅽ넗由щ� �쒖옉�⑸땲��
      parameters:
        - name: world_id
          in: path
          required: true
          description: �멸퀎愿� ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                  description: �ъ슜�� 罹먮┃�� ID
                story_title:
                  type: string
                  maxLength: 100
                  description: �ㅽ넗由� �쒕ぉ (�좏깮�ы빆)
      responses:
        '201':
          description: �ㅽ넗由� �쒖옉 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  story:
                    $ref: '#/components/schemas/Story'
                  first_scene:
                    $ref: '#/components/schemas/Scene'
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: �멸퀎愿� �먮뒗 罹먮┃�곕� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stories/{story_id}/progress:
    post:
      tags:
        - Story
      summary: �좎� �ㅽ넗由� �좏깮吏� �낅젰 �� �ㅼ쓬 �ㅽ넗由�/�대�吏� �묐떟
      description: �ъ슜�먯쓽 �좏깮�� �곕씪 �ㅼ쓬 �λ㈃�쇰줈 吏꾪뻾�⑸땲��
      parameters:
        - name: story_id
          in: path
          required: true
          description: �ㅽ넗由� ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - choice_id
              properties:
                choice_id:
                  type: string
                  format: uuid
                  description: �좏깮�� �좏깮吏��� ID
                custom_input:
                  type: string
                  maxLength: 500
                  description: �ъ슜�� �뺤쓽 �낅젰 (�좏깮�ы빆)
      responses:
        '200':
          description: �ㅼ쓬 �λ㈃�쇰줈 吏꾪뻾 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_scene:
                    $ref: '#/components/schemas/Scene'
                  story_status:
                    type: string
                    enum: [active, paused, completed, abandoned]
                  achievements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Achievement'
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: �ㅽ넗由� �먮뒗 �좏깮吏�瑜� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stories/{story_id}:
    get:
      tags:
        - Story
      summary: �ㅽ넗由� �꾩껜 議고쉶
      description: �뱀젙 �ㅽ넗由ъ쓽 �꾩껜 �뺣낫�� �꾩옱 吏꾪뻾 �곹솴�� 議고쉶�⑸땲��
      parameters:
        - name: story_id
          in: path
          required: true
          description: �ㅽ넗由� ID
          schema:
            type: string
            format: uuid
        - name: include_scenes
          in: query
          description: �λ㈃ �뺣낫 �ы븿 �щ�
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: �ㅽ넗由� �뺣낫 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  story:
                    $ref: '#/components/schemas/Story'
                  current_scene:
                    $ref: '#/components/schemas/Scene'
                  scenes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Scene'
                    description: �λ㈃ 紐⑸줉 (include_scenes=true�� �뚮쭔)
        '404':
          description: �ㅽ넗由щ� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stories/{story_id}/scenes/{scene_id}:
    get:
      tags:
        - Story
      summary: �뱀젙 �λ㈃ 議고쉶
      description: �ㅽ넗由ъ쓽 �뱀젙 �λ㈃ �뺣낫瑜� 議고쉶�⑸땲��
      parameters:
        - name: story_id
          in: path
          required: true
          description: �ㅽ넗由� ID
          schema:
            type: string
            format: uuid
        - name: scene_id
          in: path
          required: true
          description: �λ㈃ ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: �λ㈃ �뺣낫 議고쉶 �깃났
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scene'
        '404':
          description: �ㅽ넗由� �먮뒗 �λ㈃�� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 4) �대�吏� + �ㅽ넗由�
  /stories/{story_id}/scene:
    post:
      tags:
        - Story
      summary: (�띿뒪�� + �대�吏�) �④퍡 諛섑솚
      description: �ъ슜�� �낅젰�� 諛뷀깢�쇰줈 �덈줈�� �λ㈃�� �앹꽦�섍퀬 �띿뒪�몄� �대�吏�瑜� �④퍡 諛섑솚�⑸땲��
      parameters:
        - name: story_id
          in: path
          required: true
          description: �ㅽ넗由� ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_input
              properties:
                user_input:
                  type: string
                  minLength: 1
                  maxLength: 1000
                  description: �ъ슜�� �낅젰 �띿뒪��
                scene_context:
                  type: string
                  maxLength: 2000
                  description: �λ㈃ 而⑦뀓�ㅽ듃 (�좏깮�ы빆)
                image_style:
                  type: string
                  enum: [realistic, anime, cartoon, watercolor, oil_painting]
                  description: �대�吏� �ㅽ��� (�좏깮�ы빆)
      responses:
        '200':
          description: �λ㈃ �앹꽦 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  scene:
                    $ref: '#/components/schemas/Scene'
                  prose:
                    type: string
                    description: �앹꽦�� �λ㈃ �띿뒪��
                  image_url:
                    type: string
                    format: uri
                    description: �앹꽦�� �대�吏� URL
                  choices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Choice'
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: �ㅽ넗由щ� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 5) �좎� �꾩쟾怨쇱젣 / 吏꾪뻾��
  /user/achievements:
    get:
      tags:
        - Achievement
      summary: �꾩쟾怨쇱젣 由ъ뒪�� & 吏꾪뻾�� 議고쉶
      description: �ъ슜�먯쓽 �꾩쟾怨쇱젣 紐⑸줉怨� 吏꾪뻾 �곹솴�� 議고쉶�⑸땲��
      parameters:
        - name: category
          in: query
          description: �꾩쟾怨쇱젣 移댄뀒怨좊━ �꾪꽣
          required: false
          schema:
            type: string
            enum: [story, character, social, exploration, creative]
        - name: status
          in: query
          description: �꾩쟾怨쇱젣 �곹깭 �꾪꽣
          required: false
          schema:
            type: string
            enum: [in_progress, completed, locked]
      responses:
        '200':
          description: �꾩쟾怨쇱젣 紐⑸줉 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Achievement'
                  total_completed:
                    type: integer
                    description: �꾨즺�� �꾩쟾怨쇱젣 ��
                  total_available:
                    type: integer
                    description: �꾩껜 �꾩쟾怨쇱젣 ��
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/achievements/{id}:
    patch:
      tags:
        - Achievement
      summary: �꾩쟾怨쇱젣 �낅뜲�댄듃
      description: �뱀젙 �꾩쟾怨쇱젣�� 吏꾪뻾 �곹솴�� �낅뜲�댄듃�⑸땲��
      parameters:
        - name: id
          in: path
          required: true
          description: �꾩쟾怨쇱젣 ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                progress:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: 吏꾪뻾�� (0-100)
                is_completed:
                  type: boolean
                  description: �꾨즺 �щ�
      responses:
        '200':
          description: �꾩쟾怨쇱젣 �낅뜲�댄듃 �깃났
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: �꾩쟾怨쇱젣瑜� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 6) �좎� �ㅼ젙 愿�由�
  /user/settings:
    get:
      tags:
        - User
      summary: �좎� �ㅼ젙 議고쉶
      description: �ъ슜�먯쓽 媛쒖씤 �ㅼ젙�� 議고쉶�⑸땲��
      responses:
        '200':
          description: �ㅼ젙 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  theme:
                    type: string
                    enum: [light, dark, auto]
                    description: �뚮쭏 �ㅼ젙
                  language:
                    type: string
                    enum: [ko, en, ja, zh]
                    description: �몄뼱 �ㅼ젙
                  notifications:
                    type: object
                    properties:
                      email:
                        type: boolean
                        description: �대찓�� �뚮┝ �ㅼ젙
                      push:
                        type: boolean
                        description: �몄떆 �뚮┝ �ㅼ젙
                      story_updates:
                        type: boolean
                        description: �ㅽ넗由� �낅뜲�댄듃 �뚮┝
                  privacy:
                    type: object
                    properties:
                      profile_visibility:
                        type: string
                        enum: [public, friends, private]
                        description: �꾨줈�� 怨듦컻 �ㅼ젙
                      story_sharing:
                        type: boolean
                        description: �ㅽ넗由� 怨듭쑀 �덉슜
                  story_preferences:
                    type: object
                    properties:
                      auto_save:
                        type: boolean
                        description: �먮룞 ���� �ㅼ젙
                      image_quality:
                        type: string
                        enum: [low, medium, high]
                        description: �대�吏� �덉쭏 �ㅼ젙
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      tags:
        - User
      summary: �좎� �ㅼ젙 蹂�寃�
      description: �ъ슜�먯쓽 媛쒖씤 �ㅼ젙�� 蹂�寃쏀빀�덈떎
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                theme:
                  type: string
                  enum: [light, dark, auto]
                language:
                  type: string
                  enum: [ko, en, ja, zh]
                notifications:
                  type: object
                  properties:
                    email:
                      type: boolean
                    push:
                      type: boolean
                    story_updates:
                      type: boolean
                privacy:
                  type: object
                  properties:
                    profile_visibility:
                      type: string
                      enum: [public, friends, private]
                    story_sharing:
                      type: boolean
                story_preferences:
                  type: object
                  properties:
                    auto_save:
                      type: boolean
                    image_quality:
                      type: string
                      enum: [low, medium, high]
      responses:
        '200':
          description: �ㅼ젙 �낅뜲�댄듃 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "�ㅼ젙�� �깃났�곸쑝濡� �낅뜲�댄듃�섏뿀�듬땲��"
                  settings:
                    type: object
                    description: �낅뜲�댄듃�� �ㅼ젙 �뺣낫
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 7) 罹먮┃�� 梨꾪똿
  /chat/{character_id}/user:
    post:
      tags:
        - Chat
      summary: 罹먮┃�� 梨꾪똿 - �좎� �명뭼
      description: �뱀젙 罹먮┃�곗��� 梨꾪똿�먯꽌 �ъ슜�� 硫붿떆吏�瑜� �꾩넚�⑸땲��
      parameters:
        - name: character_id
          in: path
          required: true
          description: 罹먮┃�� ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  minLength: 1
                  maxLength: 1000
                  description: �ъ슜�� 硫붿떆吏�
                context:
                  type: string
                  maxLength: 2000
                  description: 異붽� 而⑦뀓�ㅽ듃 (�좏깮�ы빆)
      responses:
        '201':
          description: �ъ슜�� 硫붿떆吏� �꾩넚 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/ChatMessage'
                  conversation_id:
                    type: string
                    format: uuid
                    description: ���� �몄뀡 ID
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 罹먮┃�곕� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chat/{character_id}/ai:
    post:
      tags:
        - Chat
      summary: 罹먮┃�� 梨꾪똿 - AI �묐떟
      description: 罹먮┃�곗쓽 AI �묐떟�� �앹꽦�섍퀬 諛섑솚�⑸땲��
      parameters:
        - name: character_id
          in: path
          required: true
          description: 罹먮┃�� ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conversation_id:
                  type: string
                  format: uuid
                  description: ���� �몄뀡 ID
                last_message_id:
                  type: string
                  format: uuid
                  description: 留덉�留� 硫붿떆吏� ID
                max_length:
                  type: integer
                  minimum: 50
                  maximum: 2000
                  default: 500
                  description: 理쒕� �묐떟 湲몄씠
      responses:
        '200':
          description: AI �묐떟 �앹꽦 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply:
                    $ref: '#/components/schemas/ChatMessage'
                  character_emotion:
                    type: string
                    enum: [happy, sad, angry, surprised, neutral, excited]
                    description: 罹먮┃�� 媛먯젙 �곹깭
                  response_time:
                    type: number
                    description: �묐떟 �앹꽦 �쒓컙 (珥�)
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 罹먮┃�� �먮뒗 ���붾� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: �붿껌 �쒕룄 珥덇낵
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chat/{character_id}/history:
    get:
      tags:
        - Chat
      summary: 罹먮┃�� 梨꾪똿 湲곕줉 議고쉶
      description: �뱀젙 罹먮┃�곗��� 梨꾪똿 湲곕줉�� 議고쉶�⑸땲��
      parameters:
        - name: character_id
          in: path
          required: true
          description: 罹먮┃�� ID
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          description: �섏씠吏� 踰덊샇
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: �섏씠吏��� 硫붿떆吏� ��
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: since
          in: query
          description: 議고쉶 �쒖옉 �좎쭨 (ISO 8601)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: 梨꾪똿 湲곕줉 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
        '404':
          description: 罹먮┃�곕� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chat/{character_id}/settings:
    patch:
      tags:
        - Chat
      summary: 罹먮┃�� 梨꾪똿 �ㅼ젙 蹂�寃�
      description: �뱀젙 罹먮┃�곗��� 梨꾪똿 �ㅼ젙�� 蹂�寃쏀빀�덈떎
      parameters:
        - name: character_id
          in: path
          required: true
          description: 罹먮┃�� ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tone:
                  type: string
                  enum: [formal, casual, friendly, professional, playful]
                  description: ���� ��
                style:
                  type: string
                  enum: [conversational, narrative, poetic, technical]
                  description: ���� �ㅽ���
                personality_emphasis:
                  type: array
                  items:
                    type: string
                  description: 媛뺤“�� �깃꺽 �뱀꽦
                response_length:
                  type: string
                  enum: [short, medium, long]
                  description: �묐떟 湲몄씠 �좏샇��
                topics:
                  type: array
                  items:
                    type: string
                  description: �좏샇�섎뒗 ���� 二쇱젣
      responses:
        '200':
          description: 梨꾪똿 �ㅼ젙 �낅뜲�댄듃 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "梨꾪똿 �ㅼ젙�� �깃났�곸쑝濡� �낅뜲�댄듃�섏뿀�듬땲��"
                  settings:
                    type: object
                    description: �낅뜲�댄듃�� �ㅼ젙 �뺣낫
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 罹먮┃�곕� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 8) 留덉씠�섏씠吏�
  /mypage/profile:
    get:
      tags:
        - MyPage
      summary: �꾨줈��/怨꾩젙 �뺣낫
      description: �ъ슜�먯쓽 �곸꽭 �꾨줈�꾧낵 怨꾩젙 �뺣낫瑜� 議고쉶�⑸땲��
      responses:
        '200':
          description: �꾨줈�� �뺣낫 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  stats:
                    type: object
                    properties:
                      stories_completed:
                        type: integer
                        description: �꾨즺�� �ㅽ넗由� ��
                      characters_created:
                        type: integer
                        description: �앹꽦�� 罹먮┃�� ��
                      total_chat_messages:
                        type: integer
                        description: 珥� 梨꾪똿 硫붿떆吏� ��
                      days_active:
                        type: integer
                        description: �쒖꽦 �ъ슜 �쇱닔
                  achievements_summary:
                    type: object
                    properties:
                      total_achievements:
                        type: integer
                      completed_achievements:
                        type: integer
                      recent_achievements:
                        type: array
                        items:
                          $ref: '#/components/schemas/Achievement'
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /mypage/stories:
    get:
      tags:
        - MyPage
      summary: �닿� 吏꾪뻾/�꾧껐�� �ㅽ넗由� 由ъ뒪��
      description: �ъ슜�먭� 吏꾪뻾 以묒씠嫄곕굹 �꾨즺�� �ㅽ넗由� 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
        - name: status
          in: query
          description: �ㅽ넗由� �곹깭 �꾪꽣
          required: false
          schema:
            type: string
            enum: [active, paused, completed, abandoned]
        - name: page
          in: query
          description: �섏씠吏� 踰덊샇
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: �섏씠吏��� ��ぉ ��
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: �ㅽ넗由� 紐⑸줉 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  stories:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Story'
                        - type: object
                          properties:
                            progress_percentage:
                              type: integer
                              minimum: 0
                              maximum: 100
                            last_played:
                              type: string
                              format: date-time
                            world_name:
                              type: string
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /mypage/usage:
    get:
      tags:
        - MyPage
      summary: �ъ슜�� / �붽툑�� �곹깭
      description: �ъ슜�먯쓽 �꾩옱 �ъ슜�됯낵 �붽툑�� �뺣낫瑜� 議고쉶�⑸땲��
      responses:
        '200':
          description: �ъ슜�� �뺣낫 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    type: object
                    properties:
                      tier:
                        type: string
                        enum: [free, premium, pro]
                      status:
                        type: string
                        enum: [active, expired, cancelled]
                      expires_at:
                        type: string
                        format: date-time
                  usage:
                    type: object
                    properties:
                      stories_created:
                        type: integer
                        description: �앹꽦�� �ㅽ넗由� ��
                      characters_created:
                        type: integer
                        description: �앹꽦�� 罹먮┃�� ��
                      chat_messages_sent:
                        type: integer
                        description: �꾩넚�� 梨꾪똿 硫붿떆吏� ��
                      images_generated:
                        type: integer
                        description: �앹꽦�� �대�吏� ��
                  limits:
                    type: object
                    properties:
                      max_stories:
                        type: integer
                        description: 理쒕� �ㅽ넗由� ��
                      max_characters:
                        type: integer
                        description: 理쒕� 罹먮┃�� ��
                      monthly_chat_messages:
                        type: integer
                        description: �붽컙 梨꾪똿 硫붿떆吏� �쒕룄
                      monthly_images:
                        type: integer
                        description: �붽컙 �대�吏� �앹꽦 �쒕룄
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /mypage/relationships:
    get:
      tags:
        - MyPage
      summary: 愿�怨� �붿빟
      description: �ъ슜�먯� 罹먮┃�곕뱾 媛꾩쓽 愿�怨� �붿빟�� 議고쉶�⑸땲��
      responses:
        '200':
          description: 愿�怨� �붿빟 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  character_relationships:
                    type: array
                    items:
                      type: object
                      properties:
                        character:
                          $ref: '#/components/schemas/Character'
                        relationship_level:
                          type: integer
                          minimum: 0
                          maximum: 100
                          description: 愿�怨� �섏� (0-100)
                        interaction_count:
                          type: integer
                          description: �곹샇�묒슜 �잛닔
                        last_interaction:
                          type: string
                          format: date-time
                        favorite_topics:
                          type: array
                          items:
                            type: string
                  total_characters:
                    type: integer
                    description: 珥� �곹샇�묒슜�� 罹먮┃�� ��
                  most_interacted:
                    type: object
                    properties:
                      character:
                        $ref: '#/components/schemas/Character'
                      interaction_count:
                        type: integer
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # 9) �뚮┝ / 怨듭�
  /notifications:
    get:
      tags:
        - Notification
      summary: �뚮┝/怨듭� 議고쉶
      description: �ъ슜�먯쓽 �뚮┝怨� 怨듭��ы빆 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
        - name: type
          in: query
          description: �뚮┝ ���� �꾪꽣
          required: false
          schema:
            type: string
            enum: [info, warning, achievement, story_update]
        - name: unread_only
          in: query
          description: �쎌� �딆� �뚮┝留� 議고쉶
          required: false
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          description: �섏씠吏� 踰덊샇
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: �섏씠吏��� ��ぉ ��
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: �뚮┝ 紐⑸줉 議고쉶 �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  unread_count:
                    type: integer
                    description: �쎌� �딆� �뚮┝ ��
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
        '401':
          description: �몄쬆�섏� �딆� �ъ슜��
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notifications/{id}/read:
    patch:
      tags:
        - Notification
      summary: �뚮┝ �쎌쓬 泥섎━
      description: �뱀젙 �뚮┝�� �쎌쓬 泥섎━�⑸땲��
      parameters:
        - name: id
          in: path
          required: true
          description: �뚮┝ ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: �뚮┝ �쎌쓬 泥섎━ �깃났
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "�뚮┝�� �쎌쓬 泥섎━�섏뿀�듬땲��"
                  notification:
                    $ref: '#/components/schemas/Notification'
        '400':
          description: �섎せ�� �붿껌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: �뚮┝�� 李얠쓣 �� �놁쓬
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'