openapi: 3.0.0
info:
  contact:
    email: support@livetale.com
    name: LiveTale Team
  description: |
    LiveTale �꾨줈�앺듃�� API 紐낆꽭��
    �명꽣�숉떚釉� �ㅽ넗由ы뀛留곴낵 罹먮┃�� 梨꾪똿�� �꾪븳 醫낇빀 API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: LiveTale API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.livetale.com/v1
- description: Staging server
  url: https://staging-api.livetale.com/v1
- description: Development server
  url: http://localhost:3000/v1
security:
- BearerAuth: []
- ApiKeyAuth: []
paths:
  /auth/signup:
    post:
      description: �덈줈�� �ъ슜�� 怨꾩젙�� �앹꽦�⑸땲��
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_auth_signup_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_auth_signup_post_201_response"
          description: �뚯썝媛��� �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "�섎せ�� �붿껌 (�대찓�� 以묐났, �좏슚�� 寃��� �ㅽ뙣 ��)"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �대찓�� �먮뒗 �ъ슜�먮챸 以묐났
      security: []
      summary: �뚯썝媛���
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Authentication
  /auth/login:
    post:
      description: �ъ슜�� �몄쬆�� �섑뻾�섍퀬 �≪꽭�� �좏겙�� 諛쒓툒�⑸땲��
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_auth_login_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_auth_login_post_200_response"
          description: 濡쒓렇�� �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆 �ㅽ뙣 (�섎せ�� �대찓�� �먮뒗 鍮꾨�踰덊샇)
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �덈Т 留롮� 濡쒓렇�� �쒕룄
      security: []
      summary: 濡쒓렇��
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Authentication
  /auth/logout:
    post:
      description: �ъ슜�� 濡쒓렇�꾩썐�� �섑뻾�섍퀬 �좏겙�� 臾댄슚�뷀빀�덈떎
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_auth_logout_post_200_response"
          description: 濡쒓렇�꾩썐 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: 濡쒓렇�꾩썐
      tags:
      - Authentication
      x-accepts:
      - application/json
      x-tags:
      - tag: Authentication
  /user/me:
    get:
      description: �꾩옱 濡쒓렇�명븳 �ъ슜�먯쓽 �뺣낫瑜� 議고쉶�⑸땲��
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: �ъ슜�� �뺣낫 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �� �뺣낫 議고쉶
      tags:
      - User
      x-accepts:
      - application/json
      x-tags:
      - tag: User
  /worlds:
    get:
      description: �ъ슜 媛��ν븳 紐⑤뱺 �멸퀎愿� 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
      - description: �섏씠吏� 踰덊샇 (1遺��� �쒖옉)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: �섏씠吏��� ��ぉ ��
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: �멸퀎愿� �뚮쭏 �꾪꽣
        explode: true
        in: query
        name: theme
        required: false
        schema:
          enum:
          - fantasy
          - scifi
          - modern
          - historical
          - romance
          - horror
          type: string
        style: form
      - description: �멸퀎愿� �대쫫 寃���
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_worlds_get_200_response"
          description: �멸퀎愿� 紐⑸줉 議고쉶 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
      summary: �멸퀎愿� 由ъ뒪�� 蹂닿린
      tags:
      - World
      x-accepts:
      - application/json
      x-tags:
      - tag: World
  /worlds/{world_id}/characters:
    get:
      description: �뱀젙 �멸퀎愿��� 罹먮┃�� 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
      - description: �멸퀎愿� ID
        explode: false
        in: path
        name: world_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: �섏씠吏� 踰덊샇
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: �섏씠吏��� ��ぉ ��
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_worlds__world_id__characters_get_200_response"
          description: 罹먮┃�� 紐⑸줉 議고쉶 �깃났
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �멸퀎愿��� 李얠쓣 �� �놁쓬
      summary: �대떦 �멸퀎愿� 二쇱씤怨� 由ъ뒪�� 蹂닿린
      tags:
      - World
      x-accepts:
      - application/json
      x-tags:
      - tag: World
    post:
      description: �뱀젙 �멸퀎愿��� �뚮쭏�� 留욌뒗 �덈줈�� 罹먮┃�곕� �앹꽦�⑸땲��
      parameters:
      - description: �멸퀎愿� ID
        explode: false
        in: path
        name: world_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_worlds__world_id__characters_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Character"
          description: 罹먮┃�� �앹꽦 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �멸퀎愿��� 李얠쓣 �� �놁쓬
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: 罹먮┃�� �대쫫 以묐났
      summary: �대떦 �멸퀎愿� �뚮쭏濡� 二쇱씤怨� 留뚮뱾湲�
      tags:
      - World
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: World
  /worlds/{world_id}/start:
    post:
      description: �뱀젙 �멸퀎愿��먯꽌 �덈줈�� �ㅽ넗由щ� �쒖옉�⑸땲��
      parameters:
      - description: �멸퀎愿� ID
        explode: false
        in: path
        name: world_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_worlds__world_id__start_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_worlds__world_id__start_post_201_response"
          description: �ㅽ넗由� �쒖옉 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �멸퀎愿� �먮뒗 罹먮┃�곕� 李얠쓣 �� �놁쓬
      summary: �멸퀎愿� �쒖옉 �ㅽ넗由� �쒓났
      tags:
      - Story
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Story
  /stories/{story_id}/progress:
    post:
      description: �ъ슜�먯쓽 �좏깮�� �곕씪 �ㅼ쓬 �λ㈃�쇰줈 吏꾪뻾�⑸땲��
      parameters:
      - description: �ㅽ넗由� ID
        explode: false
        in: path
        name: story_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_stories__story_id__progress_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_stories__story_id__progress_post_200_response"
          description: �ㅼ쓬 �λ㈃�쇰줈 吏꾪뻾 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �ㅽ넗由� �먮뒗 �좏깮吏�瑜� 李얠쓣 �� �놁쓬
      summary: �좎� �ㅽ넗由� �좏깮吏� �낅젰 �� �ㅼ쓬 �ㅽ넗由�/�대�吏� �묐떟
      tags:
      - Story
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Story
  /stories/{story_id}:
    get:
      description: �뱀젙 �ㅽ넗由ъ쓽 �꾩껜 �뺣낫�� �꾩옱 吏꾪뻾 �곹솴�� 議고쉶�⑸땲��
      parameters:
      - description: �ㅽ넗由� ID
        explode: false
        in: path
        name: story_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: �λ㈃ �뺣낫 �ы븿 �щ�
        explode: true
        in: query
        name: include_scenes
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_stories__story_id__get_200_response"
          description: �ㅽ넗由� �뺣낫 議고쉶 �깃났
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �ㅽ넗由щ� 李얠쓣 �� �놁쓬
      summary: �ㅽ넗由� �꾩껜 議고쉶
      tags:
      - Story
      x-accepts:
      - application/json
      x-tags:
      - tag: Story
  /stories/{story_id}/scenes/{scene_id}:
    get:
      description: �ㅽ넗由ъ쓽 �뱀젙 �λ㈃ �뺣낫瑜� 議고쉶�⑸땲��
      parameters:
      - description: �ㅽ넗由� ID
        explode: false
        in: path
        name: story_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: �λ㈃ ID
        explode: false
        in: path
        name: scene_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scene"
          description: �λ㈃ �뺣낫 議고쉶 �깃났
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �ㅽ넗由� �먮뒗 �λ㈃�� 李얠쓣 �� �놁쓬
      summary: �뱀젙 �λ㈃ 議고쉶
      tags:
      - Story
      x-accepts:
      - application/json
      x-tags:
      - tag: Story
  /stories/{story_id}/scene:
    post:
      description: �ъ슜�� �낅젰�� 諛뷀깢�쇰줈 �덈줈�� �λ㈃�� �앹꽦�섍퀬 �띿뒪�몄� �대�吏�瑜� �④퍡 諛섑솚�⑸땲��
      parameters:
      - description: �ㅽ넗由� ID
        explode: false
        in: path
        name: story_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_stories__story_id__scene_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_stories__story_id__scene_post_200_response"
          description: �λ㈃ �앹꽦 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �ㅽ넗由щ� 李얠쓣 �� �놁쓬
      summary: (�띿뒪�� + �대�吏�) �④퍡 諛섑솚
      tags:
      - Story
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Story
  /user/achievements:
    get:
      description: �ъ슜�먯쓽 �꾩쟾怨쇱젣 紐⑸줉怨� 吏꾪뻾 �곹솴�� 議고쉶�⑸땲��
      parameters:
      - description: �꾩쟾怨쇱젣 移댄뀒怨좊━ �꾪꽣
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - story
          - character
          - social
          - exploration
          - creative
          type: string
        style: form
      - description: �꾩쟾怨쇱젣 �곹깭 �꾪꽣
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - in_progress
          - completed
          - locked
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_user_achievements_get_200_response"
          description: �꾩쟾怨쇱젣 紐⑸줉 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �꾩쟾怨쇱젣 由ъ뒪�� & 吏꾪뻾�� 議고쉶
      tags:
      - Achievement
      x-accepts:
      - application/json
      x-tags:
      - tag: Achievement
  /user/achievements/{id}:
    patch:
      description: �뱀젙 �꾩쟾怨쇱젣�� 吏꾪뻾 �곹솴�� �낅뜲�댄듃�⑸땲��
      parameters:
      - description: �꾩쟾怨쇱젣 ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_user_achievements__id__patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Achievement"
          description: �꾩쟾怨쇱젣 �낅뜲�댄듃 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �꾩쟾怨쇱젣瑜� 李얠쓣 �� �놁쓬
      summary: �꾩쟾怨쇱젣 �낅뜲�댄듃
      tags:
      - Achievement
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Achievement
  /user/settings:
    get:
      description: �ъ슜�먯쓽 媛쒖씤 �ㅼ젙�� 議고쉶�⑸땲��
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_user_settings_get_200_response"
          description: �ㅼ젙 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �좎� �ㅼ젙 議고쉶
      tags:
      - User
      x-accepts:
      - application/json
      x-tags:
      - tag: User
    patch:
      description: �ъ슜�먯쓽 媛쒖씤 �ㅼ젙�� 蹂�寃쏀빀�덈떎
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_user_settings_patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_user_settings_patch_200_response"
          description: �ㅼ젙 �낅뜲�댄듃 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �좎� �ㅼ젙 蹂�寃�
      tags:
      - User
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: User
  /chat/{character_id}/user:
    post:
      description: �뱀젙 罹먮┃�곗��� 梨꾪똿�먯꽌 �ъ슜�� 硫붿떆吏�瑜� �꾩넚�⑸땲��
      parameters:
      - description: 罹먮┃�� ID
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_chat__character_id__user_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_chat__character_id__user_post_201_response"
          description: �ъ슜�� 硫붿떆吏� �꾩넚 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: 罹먮┃�곕� 李얠쓣 �� �놁쓬
      summary: 罹먮┃�� 梨꾪똿 - �좎� �명뭼
      tags:
      - Chat
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Chat
  /chat/{character_id}/ai:
    post:
      description: 罹먮┃�곗쓽 AI �묐떟�� �앹꽦�섍퀬 諛섑솚�⑸땲��
      parameters:
      - description: 罹먮┃�� ID
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_chat__character_id__ai_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_chat__character_id__ai_post_200_response"
          description: AI �묐떟 �앹꽦 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: 罹먮┃�� �먮뒗 ���붾� 李얠쓣 �� �놁쓬
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �붿껌 �쒕룄 珥덇낵
      summary: 罹먮┃�� 梨꾪똿 - AI �묐떟
      tags:
      - Chat
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Chat
  /chat/{character_id}/history:
    get:
      description: �뱀젙 罹먮┃�곗��� 梨꾪똿 湲곕줉�� 議고쉶�⑸땲��
      parameters:
      - description: 罹먮┃�� ID
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: �섏씠吏� 踰덊샇
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: �섏씠吏��� 硫붿떆吏� ��
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 議고쉶 �쒖옉 �좎쭨 (ISO 8601)
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_chat__character_id__history_get_200_response"
          description: 梨꾪똿 湲곕줉 議고쉶 �깃났
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: 罹먮┃�곕� 李얠쓣 �� �놁쓬
      summary: 罹먮┃�� 梨꾪똿 湲곕줉 議고쉶
      tags:
      - Chat
      x-accepts:
      - application/json
      x-tags:
      - tag: Chat
  /chat/{character_id}/settings:
    patch:
      description: �뱀젙 罹먮┃�곗��� 梨꾪똿 �ㅼ젙�� 蹂�寃쏀빀�덈떎
      parameters:
      - description: 罹먮┃�� ID
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_chat__character_id__settings_patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_chat__character_id__settings_patch_200_response"
          description: 梨꾪똿 �ㅼ젙 �낅뜲�댄듃 �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: 罹먮┃�곕� 李얠쓣 �� �놁쓬
      summary: 罹먮┃�� 梨꾪똿 �ㅼ젙 蹂�寃�
      tags:
      - Chat
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Chat
  /mypage/profile:
    get:
      description: �ъ슜�먯쓽 �곸꽭 �꾨줈�꾧낵 怨꾩젙 �뺣낫瑜� 議고쉶�⑸땲��
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_mypage_profile_get_200_response"
          description: �꾨줈�� �뺣낫 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �꾨줈��/怨꾩젙 �뺣낫
      tags:
      - MyPage
      x-accepts:
      - application/json
      x-tags:
      - tag: MyPage
  /mypage/stories:
    get:
      description: �ъ슜�먭� 吏꾪뻾 以묒씠嫄곕굹 �꾨즺�� �ㅽ넗由� 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
      - description: �ㅽ넗由� �곹깭 �꾪꽣
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - paused
          - completed
          - abandoned
          type: string
        style: form
      - description: �섏씠吏� 踰덊샇
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: �섏씠吏��� ��ぉ ��
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_mypage_stories_get_200_response"
          description: �ㅽ넗由� 紐⑸줉 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �닿� 吏꾪뻾/�꾧껐�� �ㅽ넗由� 由ъ뒪��
      tags:
      - MyPage
      x-accepts:
      - application/json
      x-tags:
      - tag: MyPage
  /mypage/usage:
    get:
      description: �ъ슜�먯쓽 �꾩옱 �ъ슜�됯낵 �붽툑�� �뺣낫瑜� 議고쉶�⑸땲��
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_mypage_usage_get_200_response"
          description: �ъ슜�� �뺣낫 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �ъ슜�� / �붽툑�� �곹깭
      tags:
      - MyPage
      x-accepts:
      - application/json
      x-tags:
      - tag: MyPage
  /mypage/relationships:
    get:
      description: �ъ슜�먯� 罹먮┃�곕뱾 媛꾩쓽 愿�怨� �붿빟�� 議고쉶�⑸땲��
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_mypage_relationships_get_200_response"
          description: 愿�怨� �붿빟 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: 愿�怨� �붿빟
      tags:
      - MyPage
      x-accepts:
      - application/json
      x-tags:
      - tag: MyPage
  /notifications:
    get:
      description: �ъ슜�먯쓽 �뚮┝怨� 怨듭��ы빆 紐⑸줉�� 議고쉶�⑸땲��
      parameters:
      - description: �뚮┝ ���� �꾪꽣
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - info
          - warning
          - achievement
          - story_update
          type: string
        style: form
      - description: �쎌� �딆� �뚮┝留� 議고쉶
        explode: true
        in: query
        name: unread_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: �섏씠吏� 踰덊샇
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: �섏씠吏��� ��ぉ ��
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_notifications_get_200_response"
          description: �뚮┝ 紐⑸줉 議고쉶 �깃났
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �몄쬆�섏� �딆� �ъ슜��
      summary: �뚮┝/怨듭� 議고쉶
      tags:
      - Notification
      x-accepts:
      - application/json
      x-tags:
      - tag: Notification
  /notifications/{id}/read:
    patch:
      description: �뱀젙 �뚮┝�� �쎌쓬 泥섎━�⑸땲��
      parameters:
      - description: �뚮┝ ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_notifications__id__read_patch_200_response"
          description: �뚮┝ �쎌쓬 泥섎━ �깃났
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �섎せ�� �붿껌
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: �뚮┝�� 李얠쓣 �� �놁쓬
      summary: �뚮┝ �쎌쓬 泥섎━
      tags:
      - Notification
      x-accepts:
      - application/json
      x-tags:
      - tag: Notification
components:
  schemas:
    User:
      example:
        subscription_tier: free
        is_active: true
        avatar_url: https://openapi-generator.tech
        updated_at: 2000-01-23T04:56:07.000+00:00
        nickname: nickname
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        email: email
        username: username
      properties:
        id:
          description: �ъ슜�� 怨좎쑀 ID
          format: uuid
          type: string
        email:
          description: �대찓�� 二쇱냼
          format: email
          type: string
        username:
          description: �ъ슜�먮챸
          maxLength: 20
          minLength: 3
          type: string
        nickname:
          description: �됰꽕��
          maxLength: 30
          type: string
        avatar_url:
          description: �꾨줈�� �대�吏� URL
          format: uri
          type: string
        created_at:
          description: 怨꾩젙 �앹꽦��
          format: date-time
          type: string
        updated_at:
          description: 留덉�留� �섏젙��
          format: date-time
          type: string
        is_active:
          description: 怨꾩젙 �쒖꽦�� �곹깭
          type: boolean
        subscription_tier:
          description: 援щ룆 �깃툒
          enum:
          - free
          - premium
          - pro
          type: string
      type: object
    World:
      example:
        updated_at: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        theme: fantasy
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        thumbnail_url: https://openapi-generator.tech
      properties:
        id:
          description: �멸퀎愿� 怨좎쑀 ID
          format: uuid
          type: string
        name:
          description: �멸퀎愿� �대쫫
          type: string
        description:
          description: �멸퀎愿� �ㅻ챸
          type: string
        theme:
          description: �멸퀎愿� �뚮쭏
          enum:
          - fantasy
          - scifi
          - modern
          - historical
          - romance
          - horror
          type: string
        thumbnail_url:
          description: �몃꽕�� �대�吏� URL
          format: uri
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    Character:
      example:
        world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        appearance: appearance
        personality: personality
        avatar_url: https://openapi-generator.tech
        name: name
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
        world_id:
          format: uuid
          type: string
        name:
          maxLength: 50
          minLength: 1
          type: string
        description:
          maxLength: 500
          type: string
        personality:
          maxLength: 1000
          type: string
        appearance:
          maxLength: 1000
          type: string
        avatar_url:
          format: uri
          type: string
        created_at:
          format: date-time
          type: string
      type: object
    Story:
      example:
        world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
        current_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: active
      properties:
        id:
          format: uuid
          type: string
        world_id:
          format: uuid
          type: string
        title:
          type: string
        description:
          type: string
        current_scene_id:
          format: uuid
          type: string
        status:
          enum:
          - active
          - paused
          - completed
          - abandoned
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    Scene:
      example:
        is_final: true
        image_url: https://openapi-generator.tech
        story_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
        choices:
        - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          consequence: consequence
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          text: text
        - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          consequence: consequence
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          text: text
        content: content
      properties:
        id:
          format: uuid
          type: string
        story_id:
          format: uuid
          type: string
        title:
          type: string
        content:
          type: string
        image_url:
          format: uri
          type: string
        choices:
          items:
            $ref: "#/components/schemas/Choice"
          type: array
        is_final:
          type: boolean
        created_at:
          format: date-time
          type: string
      type: object
    Choice:
      example:
        next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        consequence: consequence
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        text: text
      properties:
        id:
          format: uuid
          type: string
        text:
          type: string
        next_scene_id:
          format: uuid
          type: string
        consequence:
          type: string
      type: object
    Achievement:
      example:
        name: name
        description: description
        progress: 8
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        category: category
        unlocked_at: 2000-01-23T04:56:07.000+00:00
        is_completed: true
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        progress:
          maximum: 100
          minimum: 0
          type: integer
        is_completed:
          type: boolean
        unlocked_at:
          format: date-time
          type: string
      type: object
    ChatMessage:
      example:
        role: user
        user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        character_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        content: content
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          format: uuid
          type: string
        character_id:
          format: uuid
          type: string
        user_id:
          format: uuid
          type: string
        content:
          type: string
        role:
          enum:
          - user
          - assistant
          type: string
        timestamp:
          format: date-time
          type: string
      type: object
    Notification:
      example:
        is_read: true
        user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
        message: message
        type: info
      properties:
        id:
          format: uuid
          type: string
        user_id:
          format: uuid
          type: string
        title:
          type: string
        message:
          type: string
        type:
          enum:
          - info
          - warning
          - achievement
          - story_update
          type: string
        is_read:
          type: boolean
        created_at:
          format: date-time
          type: string
      type: object
    Error:
      example:
        details: "{}"
        error: error
        message: message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
      type: object
    _auth_signup_post_request:
      properties:
        email:
          description: �대찓�� 二쇱냼
          format: email
          type: string
        password:
          description: 鍮꾨�踰덊샇 (理쒖냼 8��)
          minLength: 8
          type: string
        username:
          description: �ъ슜�먮챸
          maxLength: 20
          minLength: 3
          type: string
        nickname:
          description: �됰꽕��
          maxLength: 30
          type: string
        avatar_url:
          description: �꾨줈�� �대�吏� URL (�좏깮�ы빆)
          format: uri
          type: string
      required:
      - email
      - nickname
      - password
      - username
      type: object
    _auth_signup_post_201_response:
      example:
        refresh_token: refresh_token
        user:
          subscription_tier: free
          is_active: true
          avatar_url: https://openapi-generator.tech
          updated_at: 2000-01-23T04:56:07.000+00:00
          nickname: nickname
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: email
          username: username
        token: token
      properties:
        user:
          $ref: "#/components/schemas/User"
        token:
          description: JWT �≪꽭�� �좏겙
          type: string
        refresh_token:
          description: JWT 由ы봽�덉떆 �좏겙
          type: string
      type: object
    _auth_login_post_request:
      properties:
        email:
          description: �대찓�� 二쇱냼
          format: email
          type: string
        password:
          description: 鍮꾨�踰덊샇
          type: string
        remember_me:
          description: 濡쒓렇�� �곹깭 �좎� �щ�
          type: boolean
      required:
      - email
      - password
      type: object
    _auth_login_post_200_response:
      example:
        refresh_token: refresh_token
        user:
          subscription_tier: free
          is_active: true
          avatar_url: https://openapi-generator.tech
          updated_at: 2000-01-23T04:56:07.000+00:00
          nickname: nickname
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: email
          username: username
        expires_in: 0
        token: token
      properties:
        user:
          $ref: "#/components/schemas/User"
        token:
          description: JWT �≪꽭�� �좏겙
          type: string
        refresh_token:
          description: JWT 由ы봽�덉떆 �좏겙
          type: string
        expires_in:
          description: �좏겙 留뚮즺 �쒓컙 (珥�)
          type: integer
      type: object
    _auth_logout_post_200_response:
      example:
        message: 濡쒓렇�꾩썐�섏뿀�듬땲��
      properties:
        message:
          example: 濡쒓렇�꾩썐�섏뿀�듬땲��
          type: string
      type: object
    _worlds_get_200_response_pagination:
      example:
        total: 1
        limit: 6
        page: 0
        total_pages: 5
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
      type: object
    _worlds_get_200_response:
      example:
        worlds:
        - updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          theme: fantasy
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          thumbnail_url: https://openapi-generator.tech
        - updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          theme: fantasy
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          thumbnail_url: https://openapi-generator.tech
        pagination:
          total: 1
          limit: 6
          page: 0
          total_pages: 5
      properties:
        worlds:
          items:
            $ref: "#/components/schemas/World"
          type: array
        pagination:
          $ref: "#/components/schemas/_worlds_get_200_response_pagination"
      type: object
    _worlds__world_id__characters_get_200_response:
      example:
        characters:
        - world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          appearance: appearance
          personality: personality
          avatar_url: https://openapi-generator.tech
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          appearance: appearance
          personality: personality
          avatar_url: https://openapi-generator.tech
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        pagination:
          total: 1
          limit: 6
          page: 0
          total_pages: 5
      properties:
        characters:
          items:
            $ref: "#/components/schemas/Character"
          type: array
        pagination:
          $ref: "#/components/schemas/_worlds_get_200_response_pagination"
      type: object
    _worlds__world_id__characters_post_request:
      properties:
        name:
          description: 罹먮┃�� �대쫫
          maxLength: 50
          minLength: 1
          type: string
        description:
          description: 罹먮┃�� �ㅻ챸
          maxLength: 500
          type: string
        personality:
          description: 罹먮┃�� �깃꺽
          maxLength: 1000
          type: string
        appearance:
          description: 罹먮┃�� �몃え
          maxLength: 1000
          type: string
        avatar_url:
          description: 罹먮┃�� �꾨컮�� �대�吏� URL
          format: uri
          type: string
      required:
      - appearance
      - name
      - personality
      type: object
    _worlds__world_id__start_post_request:
      properties:
        character_id:
          description: �ъ슜�� 罹먮┃�� ID
          format: uuid
          type: string
        story_title:
          description: �ㅽ넗由� �쒕ぉ (�좏깮�ы빆)
          maxLength: 100
          type: string
      type: object
    _worlds__world_id__start_post_201_response:
      example:
        first_scene:
          is_final: true
          image_url: https://openapi-generator.tech
          story_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          choices:
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          content: content
        story:
          world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          updated_at: 2000-01-23T04:56:07.000+00:00
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          current_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: active
      properties:
        story:
          $ref: "#/components/schemas/Story"
        first_scene:
          $ref: "#/components/schemas/Scene"
      type: object
    _stories__story_id__progress_post_request:
      properties:
        choice_id:
          description: �좏깮�� �좏깮吏��� ID
          format: uuid
          type: string
        custom_input:
          description: �ъ슜�� �뺤쓽 �낅젰 (�좏깮�ы빆)
          maxLength: 500
          type: string
      required:
      - choice_id
      type: object
    _stories__story_id__progress_post_200_response:
      example:
        achievements:
        - name: name
          description: description
          progress: 8
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category: category
          unlocked_at: 2000-01-23T04:56:07.000+00:00
          is_completed: true
        - name: name
          description: description
          progress: 8
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category: category
          unlocked_at: 2000-01-23T04:56:07.000+00:00
          is_completed: true
        story_status: active
        next_scene:
          is_final: true
          image_url: https://openapi-generator.tech
          story_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          choices:
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          content: content
      properties:
        next_scene:
          $ref: "#/components/schemas/Scene"
        story_status:
          enum:
          - active
          - paused
          - completed
          - abandoned
          type: string
        achievements:
          items:
            $ref: "#/components/schemas/Achievement"
          type: array
      type: object
    _stories__story_id__get_200_response:
      example:
        scenes:
        - is_final: true
          image_url: https://openapi-generator.tech
          story_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          choices:
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          content: content
        - is_final: true
          image_url: https://openapi-generator.tech
          story_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          choices:
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          content: content
        current_scene:
          is_final: true
          image_url: https://openapi-generator.tech
          story_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          choices:
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          content: content
        story:
          world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          updated_at: 2000-01-23T04:56:07.000+00:00
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          current_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: active
      properties:
        story:
          $ref: "#/components/schemas/Story"
        current_scene:
          $ref: "#/components/schemas/Scene"
        scenes:
          description: �λ㈃ 紐⑸줉 (include_scenes=true�� �뚮쭔)
          items:
            $ref: "#/components/schemas/Scene"
          type: array
      type: object
    _stories__story_id__scene_post_request:
      properties:
        user_input:
          description: �ъ슜�� �낅젰 �띿뒪��
          maxLength: 1000
          minLength: 1
          type: string
        scene_context:
          description: �λ㈃ 而⑦뀓�ㅽ듃 (�좏깮�ы빆)
          maxLength: 2000
          type: string
        image_style:
          description: �대�吏� �ㅽ��� (�좏깮�ы빆)
          enum:
          - realistic
          - anime
          - cartoon
          - watercolor
          - oil_painting
          type: string
      required:
      - user_input
      type: object
    _stories__story_id__scene_post_200_response:
      example:
        prose: prose
        image_url: https://openapi-generator.tech
        choices:
        - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          consequence: consequence
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          text: text
        - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          consequence: consequence
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          text: text
        scene:
          is_final: true
          image_url: https://openapi-generator.tech
          story_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          choices:
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          - next_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            consequence: consequence
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            text: text
          content: content
      properties:
        scene:
          $ref: "#/components/schemas/Scene"
        prose:
          description: �앹꽦�� �λ㈃ �띿뒪��
          type: string
        image_url:
          description: �앹꽦�� �대�吏� URL
          format: uri
          type: string
        choices:
          items:
            $ref: "#/components/schemas/Choice"
          type: array
      type: object
    _user_achievements_get_200_response:
      example:
        total_completed: 0
        achievements:
        - name: name
          description: description
          progress: 8
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category: category
          unlocked_at: 2000-01-23T04:56:07.000+00:00
          is_completed: true
        - name: name
          description: description
          progress: 8
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category: category
          unlocked_at: 2000-01-23T04:56:07.000+00:00
          is_completed: true
        total_available: 6
      properties:
        achievements:
          items:
            $ref: "#/components/schemas/Achievement"
          type: array
        total_completed:
          description: �꾨즺�� �꾩쟾怨쇱젣 ��
          type: integer
        total_available:
          description: �꾩껜 �꾩쟾怨쇱젣 ��
          type: integer
      type: object
    _user_achievements__id__patch_request:
      properties:
        progress:
          description: 吏꾪뻾�� (0-100)
          maximum: 100
          minimum: 0
          type: integer
        is_completed:
          description: �꾨즺 �щ�
          type: boolean
      type: object
    _user_settings_get_200_response_notifications:
      example:
        story_updates: true
        email: true
        push: true
      properties:
        email:
          description: �대찓�� �뚮┝ �ㅼ젙
          type: boolean
        push:
          description: �몄떆 �뚮┝ �ㅼ젙
          type: boolean
        story_updates:
          description: �ㅽ넗由� �낅뜲�댄듃 �뚮┝
          type: boolean
      type: object
    _user_settings_get_200_response_privacy:
      example:
        story_sharing: true
        profile_visibility: public
      properties:
        profile_visibility:
          description: �꾨줈�� 怨듦컻 �ㅼ젙
          enum:
          - public
          - friends
          - private
          type: string
        story_sharing:
          description: �ㅽ넗由� 怨듭쑀 �덉슜
          type: boolean
      type: object
    _user_settings_get_200_response_story_preferences:
      example:
        auto_save: true
        image_quality: low
      properties:
        auto_save:
          description: �먮룞 ���� �ㅼ젙
          type: boolean
        image_quality:
          description: �대�吏� �덉쭏 �ㅼ젙
          enum:
          - low
          - medium
          - high
          type: string
      type: object
    _user_settings_get_200_response:
      example:
        privacy:
          story_sharing: true
          profile_visibility: public
        theme: light
        language: ko
        story_preferences:
          auto_save: true
          image_quality: low
        notifications:
          story_updates: true
          email: true
          push: true
      properties:
        theme:
          description: �뚮쭏 �ㅼ젙
          enum:
          - light
          - dark
          - auto
          type: string
        language:
          description: �몄뼱 �ㅼ젙
          enum:
          - ko
          - en
          - ja
          - zh
          type: string
        notifications:
          $ref: "#/components/schemas/_user_settings_get_200_response_notifications"
        privacy:
          $ref: "#/components/schemas/_user_settings_get_200_response_privacy"
        story_preferences:
          $ref: "#/components/schemas/_user_settings_get_200_response_story_preferences"
      type: object
    _user_settings_patch_request_notifications:
      properties:
        email:
          type: boolean
        push:
          type: boolean
        story_updates:
          type: boolean
      type: object
    _user_settings_patch_request_privacy:
      properties:
        profile_visibility:
          enum:
          - public
          - friends
          - private
          type: string
        story_sharing:
          type: boolean
      type: object
    _user_settings_patch_request_story_preferences:
      properties:
        auto_save:
          type: boolean
        image_quality:
          enum:
          - low
          - medium
          - high
          type: string
      type: object
    _user_settings_patch_request:
      properties:
        theme:
          enum:
          - light
          - dark
          - auto
          type: string
        language:
          enum:
          - ko
          - en
          - ja
          - zh
          type: string
        notifications:
          $ref: "#/components/schemas/_user_settings_patch_request_notifications"
        privacy:
          $ref: "#/components/schemas/_user_settings_patch_request_privacy"
        story_preferences:
          $ref: "#/components/schemas/_user_settings_patch_request_story_preferences"
      type: object
    _user_settings_patch_200_response:
      example:
        settings: "{}"
        message: �ㅼ젙�� �깃났�곸쑝濡� �낅뜲�댄듃�섏뿀�듬땲��
      properties:
        message:
          example: �ㅼ젙�� �깃났�곸쑝濡� �낅뜲�댄듃�섏뿀�듬땲��
          type: string
        settings:
          description: �낅뜲�댄듃�� �ㅼ젙 �뺣낫
          type: object
      type: object
    _chat__character_id__user_post_request:
      properties:
        message:
          description: �ъ슜�� 硫붿떆吏�
          maxLength: 1000
          minLength: 1
          type: string
        context:
          description: 異붽� 而⑦뀓�ㅽ듃 (�좏깮�ы빆)
          maxLength: 2000
          type: string
      required:
      - message
      type: object
    _chat__character_id__user_post_201_response:
      example:
        conversation_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message:
          role: user
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          character_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          content: content
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        message:
          $ref: "#/components/schemas/ChatMessage"
        conversation_id:
          description: ���� �몄뀡 ID
          format: uuid
          type: string
      type: object
    _chat__character_id__ai_post_request:
      properties:
        conversation_id:
          description: ���� �몄뀡 ID
          format: uuid
          type: string
        last_message_id:
          description: 留덉�留� 硫붿떆吏� ID
          format: uuid
          type: string
        max_length:
          default: 500
          description: 理쒕� �묐떟 湲몄씠
          maximum: 2000
          minimum: 50
          type: integer
      type: object
    _chat__character_id__ai_post_200_response:
      example:
        response_time: 0.8008281904610115
        character_emotion: happy
        reply:
          role: user
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          character_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          content: content
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        reply:
          $ref: "#/components/schemas/ChatMessage"
        character_emotion:
          description: 罹먮┃�� 媛먯젙 �곹깭
          enum:
          - happy
          - sad
          - angry
          - surprised
          - neutral
          - excited
          type: string
        response_time:
          description: �묐떟 �앹꽦 �쒓컙 (珥�)
          type: number
      type: object
    _chat__character_id__history_get_200_response:
      example:
        pagination:
          total: 1
          limit: 6
          page: 0
          total_pages: 5
        messages:
        - role: user
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          character_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          content: content
          timestamp: 2000-01-23T04:56:07.000+00:00
        - role: user
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          character_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          content: content
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        messages:
          items:
            $ref: "#/components/schemas/ChatMessage"
          type: array
        pagination:
          $ref: "#/components/schemas/_worlds_get_200_response_pagination"
      type: object
    _chat__character_id__settings_patch_request:
      properties:
        tone:
          description: ���� ��
          enum:
          - formal
          - casual
          - friendly
          - professional
          - playful
          type: string
        style:
          description: ���� �ㅽ���
          enum:
          - conversational
          - narrative
          - poetic
          - technical
          type: string
        personality_emphasis:
          description: 媛뺤“�� �깃꺽 �뱀꽦
          items:
            type: string
          type: array
        response_length:
          description: �묐떟 湲몄씠 �좏샇��
          enum:
          - short
          - medium
          - long
          type: string
        topics:
          description: �좏샇�섎뒗 ���� 二쇱젣
          items:
            type: string
          type: array
      type: object
    _chat__character_id__settings_patch_200_response:
      example:
        settings: "{}"
        message: 梨꾪똿 �ㅼ젙�� �깃났�곸쑝濡� �낅뜲�댄듃�섏뿀�듬땲��
      properties:
        message:
          example: 梨꾪똿 �ㅼ젙�� �깃났�곸쑝濡� �낅뜲�댄듃�섏뿀�듬땲��
          type: string
        settings:
          description: �낅뜲�댄듃�� �ㅼ젙 �뺣낫
          type: object
      type: object
    _mypage_profile_get_200_response_stats:
      example:
        characters_created: 6
        days_active: 5
        total_chat_messages: 1
        stories_completed: 0
      properties:
        stories_completed:
          description: �꾨즺�� �ㅽ넗由� ��
          type: integer
        characters_created:
          description: �앹꽦�� 罹먮┃�� ��
          type: integer
        total_chat_messages:
          description: 珥� 梨꾪똿 硫붿떆吏� ��
          type: integer
        days_active:
          description: �쒖꽦 �ъ슜 �쇱닔
          type: integer
      type: object
    _mypage_profile_get_200_response_achievements_summary:
      example:
        recent_achievements:
        - name: name
          description: description
          progress: 8
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category: category
          unlocked_at: 2000-01-23T04:56:07.000+00:00
          is_completed: true
        - name: name
          description: description
          progress: 8
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          category: category
          unlocked_at: 2000-01-23T04:56:07.000+00:00
          is_completed: true
        completed_achievements: 2
        total_achievements: 5
      properties:
        total_achievements:
          type: integer
        completed_achievements:
          type: integer
        recent_achievements:
          items:
            $ref: "#/components/schemas/Achievement"
          type: array
      type: object
    _mypage_profile_get_200_response:
      example:
        stats:
          characters_created: 6
          days_active: 5
          total_chat_messages: 1
          stories_completed: 0
        user:
          subscription_tier: free
          is_active: true
          avatar_url: https://openapi-generator.tech
          updated_at: 2000-01-23T04:56:07.000+00:00
          nickname: nickname
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          email: email
          username: username
        achievements_summary:
          recent_achievements:
          - name: name
            description: description
            progress: 8
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category: category
            unlocked_at: 2000-01-23T04:56:07.000+00:00
            is_completed: true
          - name: name
            description: description
            progress: 8
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            category: category
            unlocked_at: 2000-01-23T04:56:07.000+00:00
            is_completed: true
          completed_achievements: 2
          total_achievements: 5
      properties:
        user:
          $ref: "#/components/schemas/User"
        stats:
          $ref: "#/components/schemas/_mypage_profile_get_200_response_stats"
        achievements_summary:
          $ref: "#/components/schemas/_mypage_profile_get_200_response_achievements_summary"
      type: object
    _mypage_stories_get_200_response_stories_inner:
      allOf:
      - $ref: "#/components/schemas/Story"
      - properties:
          progress_percentage:
            maximum: 100
            minimum: 0
            type: integer
          last_played:
            format: date-time
            type: string
          world_name:
            type: string
        type: object
      example:
        world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        world_name: world_name
        updated_at: 2000-01-23T04:56:07.000+00:00
        progress_percentage: 8
        last_played: 2000-01-23T04:56:07.000+00:00
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
        current_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: active
    _mypage_stories_get_200_response:
      example:
        stories:
        - world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          world_name: world_name
          updated_at: 2000-01-23T04:56:07.000+00:00
          progress_percentage: 8
          last_played: 2000-01-23T04:56:07.000+00:00
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          current_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: active
        - world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          world_name: world_name
          updated_at: 2000-01-23T04:56:07.000+00:00
          progress_percentage: 8
          last_played: 2000-01-23T04:56:07.000+00:00
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          current_scene_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: active
        pagination:
          total: 1
          limit: 6
          page: 0
          total_pages: 5
      properties:
        stories:
          items:
            $ref: "#/components/schemas/_mypage_stories_get_200_response_stories_inner"
          type: array
        pagination:
          $ref: "#/components/schemas/_worlds_get_200_response_pagination"
      type: object
    _mypage_usage_get_200_response_subscription:
      example:
        expires_at: 2000-01-23T04:56:07.000+00:00
        tier: free
        status: active
      properties:
        tier:
          enum:
          - free
          - premium
          - pro
          type: string
        status:
          enum:
          - active
          - expired
          - cancelled
          type: string
        expires_at:
          format: date-time
          type: string
      type: object
    _mypage_usage_get_200_response_usage:
      example:
        stories_created: 0
        chat_messages_sent: 1
        characters_created: 6
        images_generated: 5
      properties:
        stories_created:
          description: �앹꽦�� �ㅽ넗由� ��
          type: integer
        characters_created:
          description: �앹꽦�� 罹먮┃�� ��
          type: integer
        chat_messages_sent:
          description: �꾩넚�� 梨꾪똿 硫붿떆吏� ��
          type: integer
        images_generated:
          description: �앹꽦�� �대�吏� ��
          type: integer
      type: object
    _mypage_usage_get_200_response_limits:
      example:
        max_stories: 5
        max_characters: 2
        monthly_images: 9
        monthly_chat_messages: 7
      properties:
        max_stories:
          description: 理쒕� �ㅽ넗由� ��
          type: integer
        max_characters:
          description: 理쒕� 罹먮┃�� ��
          type: integer
        monthly_chat_messages:
          description: �붽컙 梨꾪똿 硫붿떆吏� �쒕룄
          type: integer
        monthly_images:
          description: �붽컙 �대�吏� �앹꽦 �쒕룄
          type: integer
      type: object
    _mypage_usage_get_200_response:
      example:
        usage:
          stories_created: 0
          chat_messages_sent: 1
          characters_created: 6
          images_generated: 5
        subscription:
          expires_at: 2000-01-23T04:56:07.000+00:00
          tier: free
          status: active
        limits:
          max_stories: 5
          max_characters: 2
          monthly_images: 9
          monthly_chat_messages: 7
      properties:
        subscription:
          $ref: "#/components/schemas/_mypage_usage_get_200_response_subscription"
        usage:
          $ref: "#/components/schemas/_mypage_usage_get_200_response_usage"
        limits:
          $ref: "#/components/schemas/_mypage_usage_get_200_response_limits"
      type: object
    _mypage_relationships_get_200_response_character_relationships_inner:
      example:
        character:
          world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          appearance: appearance
          personality: personality
          avatar_url: https://openapi-generator.tech
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        relationship_level: 8
        favorite_topics:
        - favorite_topics
        - favorite_topics
        last_interaction: 2000-01-23T04:56:07.000+00:00
        interaction_count: 6
      properties:
        character:
          $ref: "#/components/schemas/Character"
        relationship_level:
          description: 愿�怨� �섏� (0-100)
          maximum: 100
          minimum: 0
          type: integer
        interaction_count:
          description: �곹샇�묒슜 �잛닔
          type: integer
        last_interaction:
          format: date-time
          type: string
        favorite_topics:
          items:
            type: string
          type: array
      type: object
    _mypage_relationships_get_200_response_most_interacted:
      example:
        character:
          world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          appearance: appearance
          personality: personality
          avatar_url: https://openapi-generator.tech
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        interaction_count: 5
      properties:
        character:
          $ref: "#/components/schemas/Character"
        interaction_count:
          type: integer
      type: object
    _mypage_relationships_get_200_response:
      example:
        character_relationships:
        - character:
            world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            appearance: appearance
            personality: personality
            avatar_url: https://openapi-generator.tech
            name: name
            description: description
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          relationship_level: 8
          favorite_topics:
          - favorite_topics
          - favorite_topics
          last_interaction: 2000-01-23T04:56:07.000+00:00
          interaction_count: 6
        - character:
            world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            appearance: appearance
            personality: personality
            avatar_url: https://openapi-generator.tech
            name: name
            description: description
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          relationship_level: 8
          favorite_topics:
          - favorite_topics
          - favorite_topics
          last_interaction: 2000-01-23T04:56:07.000+00:00
          interaction_count: 6
        most_interacted:
          character:
            world_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            appearance: appearance
            personality: personality
            avatar_url: https://openapi-generator.tech
            name: name
            description: description
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          interaction_count: 5
        total_characters: 1
      properties:
        character_relationships:
          items:
            $ref: "#/components/schemas/_mypage_relationships_get_200_response_character_relationships_inner"
          type: array
        total_characters:
          description: 珥� �곹샇�묒슜�� 罹먮┃�� ��
          type: integer
        most_interacted:
          $ref: "#/components/schemas/_mypage_relationships_get_200_response_most_interacted"
      type: object
    _notifications_get_200_response:
      example:
        unread_count: 0
        pagination:
          total: 1
          limit: 6
          page: 0
          total_pages: 5
        notifications:
        - is_read: true
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          message: message
          type: info
        - is_read: true
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          message: message
          type: info
      properties:
        notifications:
          items:
            $ref: "#/components/schemas/Notification"
          type: array
        unread_count:
          description: �쎌� �딆� �뚮┝ ��
          type: integer
        pagination:
          $ref: "#/components/schemas/_worlds_get_200_response_pagination"
      type: object
    _notifications__id__read_patch_200_response:
      example:
        notification:
          is_read: true
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
          message: message
          type: info
        message: �뚮┝�� �쎌쓬 泥섎━�섏뿀�듬땲��
      properties:
        message:
          example: �뚮┝�� �쎌쓬 泥섎━�섏뿀�듬땲��
          type: string
        notification:
          $ref: "#/components/schemas/Notification"
      type: object
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    ApiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
